extends layout

block content
  .text-center
    form.loginForm
      h2 Connect your store
      input#shopName(type="text", placeholder="your-shop-name")
      span .shopify.com
      input(type="submit", value="Go")
        
    script.
      document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();
        var p1 = window.location.href.split('/').slice(0,-1).join('/');
        var p2 = document.querySelector('#shopName').value;
        window.location = p1 + '/signup/' + p2;
      });
//- 
//- 
//- 
//- extends layout
//- 
//- block content
//-   div
//-     h1 Log In
//-     form
//-       div
//-         label(for="email") Email
//-         input#email(type="email", name="email")
//-       div
//-         label(for="password") Password
//-         input#pass(type="password", name="password")
//-       div
//-         input(type="submit", value="Submit")
//- 
//-     script.
//-       document.querySelector('form').addEventListener('submit', function(e) {
//-         e.preventDefault();
//-         var email = document.querySelector('#email').value;
//-         var pass = document.querySelector('#pass').value;
//-         axios
//-           .post('/auth/login', { email: email, pass: pass })
//-           .then(function(response) {
//-             console.log(response);
//-             if (response.data.success) {
//-               window.location = window.location.href.split('/').slice(0,3).join('/');
//-             } else {
//-               console.log('No success');
//-             }
//-           })
//-           .catch(function(err) {
//-             console.log(err);
//-           })
//-       });
//- 
